@use "../../../styleSheet/breakpoints";
@use "../../../styleSheet/mixins" as *;

.app {
  width: 100%;
  @include flex-column();
  overflow-x: hidden;

  .header {
    width: 100%;
  }

  .main {
    @include flex-column(start, start, 3.3rem);
    width: 100%;
    padding: 1.6rem;
    overflow: auto;

    .search {
      width: 100%;
    }

    .movies {
      @include flex-column(start, start, 2.4rem);
      width: 100%;

      .trending-movies-container {
        @include flex-column(start, start, 2.4rem);
        overflow: hidden;
        width: 100%;

        .trending-movies {
          @include flex-row(start, start, 2.4rem);
          overflow: auto;
          width: 100%;
          scrollbar-width: none;
          scroll-behavior: smooth;
        }
      }
    }

    .recommended {
      width: 100%;
      @include flex-column(start, start, 2.4rem);

      .recommended-movies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
      }
    }

    .category {
      width: 100%;
      @include flex-column(start, start, 2.4rem);

      .recommended-movies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
      }
    }
  }
}

@include breakpoints.mq(tablet) {
  .app {
    padding: 2.4rem;
    border-radius: 1rem;

    .main {
      padding: 2.4rem;

      .recommended {
        .recommended-movies {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      .category {
        .recommended-movies {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}
@include breakpoints.mq(desktop) {
  .app {
    @include flex-row(start, start);
    padding: 3.2rem;
    height: 100vh;
    overflow: hidden;

    .header {
      width: 9.6rem;
    }

    .main {
      padding: 2rem 3.6rem;
      overflow: scroll;
      height: calc(100vh - 6.4rem);
      scrollbar-width: none;
      scroll-behavior: smooth;

      .recommended {
        .recommended-movies {
          grid-template-columns: repeat(4, 1fr);
        }
      }
      .category {
        .recommended-movies {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
