<div *ngIf="movies$ | async as movies" class="app">
  <div class="header">
    <app-header />
  </div>
  <div class="main">
    <app-search class="search" />
    <div class="movies">
      @if(category === null) {
      <div class="trending-movies-container">
        <p class="title">Trending</p>
        <div class="trending-movies">
          @for (movie of movies; track $index) { @if (movie.isTrending) {
          <app-movie-card [movie]="movie" [isTrending]="true" />
          } }
        </div>
      </div>
      <div class="recommended">
        <p class="title">Recomended for you</p>
        <div class="recommended-movies">
          @for (movie of movies; track $index) {
          <app-movie-card [movie]="movie" [isTrending]="false" />
          }
        </div>
      </div>
      } @else {

      <div class="category">
        <h4>{{ getCategoryName() }}</h4>
        <div class="recommended-movies">
          @for (movie of movies; track $index) {
          <app-movie-card [movie]="movie" [isTrending]="false" />

          }
        </div>
      </div>
      }
    </div>

  </div>
</div>
